@inherits LayoutComponentBase
@inject NavigationManager navigation

<PageTitle>Ux</PageTitle>

<div class="page">
    @if (navigation.ToBaseRelativePath(navigation.Uri) != "")
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        @if (navigation.ToBaseRelativePath(navigation.Uri) != "")
        {
            <div class="top-row px-4">
                <a href="/" target="_self">Logout </a>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
